
<div class="container">
  <h2 class="text-center">Create new book</h2>
  <div class="row mt-3">
    <div class="col-md-6">
      <input class="form-control" [(ngModel)]="bookTitle" placeholder="Book title">
    </div>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="bookAuthor" placeholder="Book author">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)="addBook()">Add Book</button>
    </div>
  </div>

  <div>
    <ul>
      <li *ngFor="let book of books; index as i">
        {{book.title}} - {{book.author}}
        <button class="btn" (click)="deleteBook(book)">Delete</button>
      </li>
 
    </ul>
  
  </div>

</div>


